@font-avatar {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url("fonts/material-design-icons-3.0.1/MaterialIcons-Regular.eot"); /* For IE6-8 */
    src: local('Material Icons'),
         local('MaterialIcons-Regular'),
         url("fonts/material-design-icons-3.0.1/MaterialIcons-Regular.woff2") format('woff2'),
         url("fonts/material-design-icons-3.0.1/MaterialIcons-Regular.woff") format('woff'),
         url("fonts/material-design-icons-3.0.1/MaterialIcons-Regular.ttf") format('truetype');
}
*:focus {
    outline: none;
}
.icon {
    font-family: 'Material Icons';
    line-height: 1;
    font-style: normal;
    display: inline-block;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
    /* Support for IE. */
    font-feature-settings: 'liga';
}
.button {
    text-align: center;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-left: 0.8em;
    padding-right: 0.8em;
    background-color: black;
    display: inline-block;
    color: white;
    font-size: 0.5cm;
    cursor: pointer;
    border-radius: 5px;
}
.textbox p {
    margin: 0px;
}

.offline {
    color: rgba(255, 255, 255, 0.3);
}

.offline::before{
    
    font-family: 'Material Icons';
    line-height: 1;
    font-style: normal;
    display: inline-block;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
    /* Support for IE. */
    font-feature-settings: 'liga';
    content:"lens";
    position: relative;
    top:0.1em;
}
.offline::after {
    content: "offline";
}

.online {
    color: rgba(164, 229, 164, 1);
}

.online::before{
    font-family: 'Material Icons';
    line-height: 1;
    font-style: normal;
    display: inline-block;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
    /* Support for IE. */
    font-feature-settings: 'liga';
    content:"lens";
    position: relative;
    top:0.1em;
}
.online::after{
    content:"online";
}
html{
    padding: 0px;
    margin: 0px;
}
body {
    background: #444444;
    padding: 0px;
    margin: 0px;
    min-height: 100%;
    min-width: 800px;
    font-family: "Microsoft YaHei",Segoe UI, Tahoma, Geneva, Verdana, sans-serif;
}

input{
    border: none 0px;
}
#side .item {
    padding: 1em;
    padding-left: 0.5cm;
    padding-right: 0.5cm;
}

#myself #avatar {
    border-radius: 100%;
    height: 2.4cm;
}
#myself #info {
    display: inline-block;
    vertical-align: top;
    margin-left: 0.2cm;
}
#myself #name {
    font-size: 0.8cm;
    color: rgba(255, 255, 255, 0.9);
    max-width: 5.4em;
    overflow: hidden;
    text-overflow: ellipsis;
}

#myself #uid {
    color: rgba(255, 255, 255, 0.3);
}
#contacts .chatting {
    background-color: rgba(0,0,0,0.15);
}
.contact .info {
    display: inline-block;
    vertical-align: top;
    margin-left: 0.4em;
}
.contact .status {
    font-size: 0.8em;
}
@keyframes slideIn{
    from{
        left: -100%;
    }
    to{
        left: 0%;
    }
}
.slideIn{
    animation-duration: 0.3s;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;
    animation-name: slideIn;
}
@keyframes slideOut{
    from{
        left: 0%;
    }
    to{
        left: -100%;
    }
}
.slideOut{
    animation-duration: 0.3s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
    animation-name: slideOut;

}
.contact {
    cursor: pointer;
}
.contact:hover{
    background-color: rgba(0,0,0,0.3);
}
.contact .avatar {
    display: inline-block;
    width: 1.2cm;
    height: 1.2cm;
    vertical-align: middle;
    position: relative;
}
.contact .avatar img {
    border-radius: 50%;
    width: 100%;
}
.contact .msgCount {
    background-color: red;
    position: absolute;
    height: 40%;
    color: white;
    right: -10%;
    top: -10%;
    text-align: center;
    line-height: 1.35em;
    border-radius: 1em;
    padding-left: 0.4em;
    padding-right: 0.4em;
    font-size: 0.8em;
}
.contact .noMsg {
    display: none;
}
.contact .name {
    vertical-align: middle;
    font-size: 0.5cm;
    color: #aaaaaa;
}

.msgOpp{
    position: relative;
    padding: 0.8em;
}
.msgOpp .avatar{
    width: 1cm;
    height: 1cm;
    border-radius: 50%;
    display: inline-block;
    vertical-align: top;
}
.msgOpp .msgBox {
    position: relative;
    display: inline-block;
    margin-left: 0.8em;
    max-width: calc(100% - 1.5cm);
}
.msgOpp .arrow {
    border-top: solid 0.6em rgba(120, 157, 217, 1);
    border-left: solid 0.6em rgba(0, 0, 0, 0);
    width: calc(100% - 5px);
    position: absolute;
    left: -0.6em;
}
.msgOpp .msg {
    padding: 0.4em;
    padding-left: 0.8em;
    padding-right: 0.8em;
    border-radius: 5px;
    border-radius-topleft: 0px;
    background-color: rgba(120, 157, 217, 1);
    color: white;
}

.msgSelf{
    position: relative;
    padding: 0.8em;
}
.msgSelf .avatar {
    width: 1cm;
    height: 1cm;
    border-radius: 50%;
    display: inline-block;
    vertical-align: top;
    position: absolute;
    right: 0.8em;
}
.msgSelf .msgBox {
    position: absolute;
    right: 1cm;
    display: inline-block;
    margin-right: 1.6em;
    max-width: calc(100% - 1.5cm);
}

.msgSelf .arrow {
    border-right: solid 0.6em rgba(120, 157, 217, 1);
    border-bottom: solid 0.6em rgba(0, 0, 0, 0);
    height: calc(100% - 5px);
    position: absolute;
    right: 0px;
    bottom: -0.6em;
}
.msgSelf .msg {
    padding: 0.4em;
    padding-left: 0.8em;
    padding-right: 0.8em;
    border-radius: 5px;
    border-radius-topleft: 0px;
    background: rgba(120, 157, 217, 1);
    color: white;
}
#login {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 1000000000;
    overflow: auto;
    -ms-touch-action: none;
    text-align: center;
    min-width: 800px;
}

#login-title {
    font-size: 1cm;
    margin-top: 3cm;
    margin-bottom: 1em;
    color: rgba(255,255,255,0.6);
}
#login-input {
    display: inline-block;
    vertical-align: middle;
    width: 60%;
    max-width: 32em;
    margin-left: 1cm;
}
#login #buttons {
    margin-top: 2em;
    position: relative;
}
#login .button {
    width: 10em;
    position: absolute;
}
#login input {
    background: rgba(255,255,255,0.4)
}
#login #error-output {
    margin: auto;
    margin-top: 2cm;
    color: rgba(255, 108, 82, 1);
    text-align: left;
    width: 60%;
    max-width: 32em;
    padding-left: 1cm;
}

#login #uid {
    width: calc(100% - 1.6em);
    font-size: 0.6cm;
    padding-top: 0.4em;
    padding-bottom: 0.4em;
    padding-left: 0.8em;
    padding-right: 0.8em;
    border-radius: 5px;
}
#login #pwd{
    display:none;
    width: calc(100% - 1.6em);
    font-size: 0.6cm;
    padding-top: 0.4em;
    padding-bottom: 0.4em;
    padding-left: 0.8em;
    padding-right: 0.8em;
    margin-top: 1em;
    border-radius: 5px;
}
#login #prvKey {
    display: none;
    width: calc(100% - 1.6em);
    font-size: 0.4cm;
    padding-top: 0.4em;
    padding-bottom: 0.4em;
    padding-left: 0.8em;
    padding-right: 0.8em;
    margin-top: 1em;
    border-radius: 5px;
    border: none;
    height: 5em;
    overflow: hidden;
    background-color: rgba(255,255,255,0.4);
    font-family: "Microsoft YaHei",Segoe UI, Tahoma, Geneva, Verdana, sans-serif;
}
#buttonLogin {
    background-color: rgba(63, 150, 207, 0.8);
    left: 0px;
}
#buttonRegister {
    right: 0px;
    background-color: #666666;
}
#main {
    display: block;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 0;
    min-width: 800px;
}

#buttonMenu {
    display: none;
    font-size: 1cm;
    vertical-align: middle;
    color: gray;
}
#myself {
    padding: 1em;
    background-color: rgba(255,255,255,0.05);
}
#title{
    margin-left: 1em;
    display: inline-block;
    vertical-align: middle;
}
/* style.css (130, 16) */
.msgOpp .arrow {
    border-top: solid 0.6em rgba(120, 157, 217, 1);
    border-left: solid 0.6em rgba(0, 0, 0, 0);
    width: calc(100% - 5px);
    position: absolute;
    left: -0.6em;
}

/* style.css (137, 14) */
.msgOpp .msg {
    padding: 0.4em;
    padding-left: 0.8em;
    padding-right: 0.8em;
    border-radius: 5px;
    border-radius-topleft: 0px;
    background-color: rgba(120, 157, 217, 1);
    color: white;
}

/* style.css (166, 17) */
.msgSelf .arrow {
    border-right: solid 0.6em rgba(120, 157, 217, 1);
    border-bottom: solid 0.6em rgba(0, 0, 0, 0);
    height: calc(100% - 5px);
    position: absolute;
    right: 0px;
    bottom: -0.6em;
}

/* style.css (174, 15) */
.msgSelf .msg {
    padding: 0.4em;
    padding-left: 0.8em;
    padding-right: 0.8em;
    border-radius: 5px;
    border-radius-topleft: 0px;
    background: rgba(120, 157, 217, 1);
    color: white;
}

/* style.css (271, 13) */
#buttonMenu {
    display: none;
    font-size: 1cm;
    vertical-align: middle;
    color: gray;
}
#side {
    position: absolute;
    z-index: 100;
    background: #333333;
    color: rgba(255, 255, 255, 0.7);
    width: 20em;
    height: 100%;
    left: 0px;
}
#center {
    position: absolute;
    height: 100%;
    width: calc(100% - 20em);
    margin-left: 20em;
}
#center #logo {
    border: dashed 3px rgba(255, 255, 255, 0.4);
    width: 3cm;
    height: 3cm;
    border-radius: 0.5cm;
    color: rgba(255, 255, 255, 0.4);
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-content: center;
    align-items: center;
}
#center #logoBackground{
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
#chat {
    height: calc(100% - 4cm);
    padding-top: 2cm;
    display: none;
}

#top {
    display: none;
    position: absolute;
    width: calc(100% - 0.8em);
    background: #282828;
    color: rgba(255,255,255,0.7);
    padding: 0.4em;
    font-size: 0.6cm;
    z-index: 10;
}
#footer {
    display: none;
    position: absolute;
    bottom: 0px;
    width: calc(100% - 0.8em);
    padding: 1em;
    background: #282828;
    z-index: 10;
}
#msgInput {
    position: relative;
}

#msgInput .icon {
    color: #555555;
    vertical-align: middle;
    cursor: pointer;
}
#msgInput #inputBG {
    background-color: #666666;
    border-radius: 5px;
    position: relative;
    height: auto;
    display: inline-block;
    width: calc(100% - 2cm);
    vertical-align: middle;
}
#msgInput #inputBG .icon {
    font-size: 0.8cm;
}

#msgInput #input {
    border-radius: 5px;
    padding-top: 0.4em;
    padding-bottom: 0.4em;
    padding-left: 0.8em;
    padding-right: 0.8em;
    display: inline-block;
    width: calc(100% - 4cm);
    height: auto;
    vertical-align: middle;
    overflow: auto;
    white-space: normal;
    text-overflow: ellipsis;
    word-break: break-all;
    color: rgba(255, 255, 255, 0.9);
} 
#buttonSend {
    color: white;
    font-size: 1cm;
    display: inline-block;
    vertical-align: middle;
}
